.hide {
    display: none;
}

.hiden-btn {
    visibility: hidden !important;
}

.note .card-body .btn {
    opacity: 0;
    transition: all .2s ease;
}

.note::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #ffa8a8;
    z-index: 1000;
    position: absolute;
    
}

.note:hover {
    transform: translateX(-5px);
}

.note:hover .card-body .btn {
    opacity: 1;
}

.note {
    transition: all .2s ease;
    border-width: 2px;
    border-radius: 10px !important;
}

.edited-indicator {
    position: absolute;
    bottom: 0%;
    left: 83%;
    margin-bottom: 10px;
}

#note-form {
    position: fixed;
    width: 35%;
}